/* =========================
   TAILWIND CORE
========================= */
@import "tailwindcss";

/* =========================
   BASE STYLES
========================= */
@layer base {
  html {
    -webkit-text-size-adjust: 100%;
  }

  body {
    @apply min-h-screen font-sans antialiased;
  }

  img {
    @apply max-w-full h-auto;
  }
}